
.div1{
    padding-top: 60px;
    margin-left: 173px;
    margin-right: 153px;

}
.middle-container{
    width: 1000px;
    height: 1242px;
}
.grid{
    width: 1000px;
    height: 375px;
}
.feature1{
    width: 1000px;
    height: 125px;
    display: flex;
    flex-direction: row;
}
.firediv{
    width: 199px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.log1{
    color: rgb(255, 140, 0);
    font-size: 48px;
}
.text1{
    margin-left: 5px;
    width: 800px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.premium{
    margin: 0px;
    padding: 0px;
}
.p-1{
    margin: 0px;
    padding: 0px;
}

