.foot{
    padding: 20px;
    margin-top: 30px;
    width: 960px;
    height: 41px;
    background-color: #ddd;
}
ul{
    cursor: pointer;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style-type: none;
}
.li1{
    padding: 0px 10px;
}
.span1{
    font-size: 14px;
    color: #444444;
    margin-top: 5px;
    width: 960px;
    height: 17px;
    display: flex;
    justify-content: end;
}